@model KUBOnlinePRPM.Service.HeirarchyModel

@{
    ViewBag.Title = "Heirarchy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users Heirarchy</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Super Admin
            </th>
            <th>
                Head Of GPSS
            </th>
        </tr>
    
    </thead>
    <tbody>
        <tr>
            <td>@Html.ActionLink(@Model.SuperAdmin.firstName, "Edit", "UsersAdmin", new { id = @Model.SuperAdmin.userId }, new { target = "_blank" })</td>
            @if (Model.HeadOfGPSS != null)
            {
                <td>@Html.ActionLink(@Model.HeadOfGPSS.firstName, "Edit", "UsersAdmin", new { id = @Model.HeadOfGPSS.userId }, new { target = "_blank" })</td>
            }
            else
            {
                <td></td>
            }
        </tr>
    </tbody>

</table>

<h5>Users</h5>

@foreach (var member in Model.Members)
{
<h3>@member.SubsidiaryName</h3>

    

    <table class="table table-light table-striped">
        <thead>
            <tr>
                <th>
                    Type
                </th>
                <th>
                    Names
                </th>
            </tr>

        </thead>
        <tbody>
            <tr>
                <td>
                    HOC
                </td>
                <td>
                    <ol>
                        @foreach (var x in member.HOCs)
                        {
                            <li>@Html.ActionLink(@x.firstName, "Edit", "UsersAdmin", new { id = @x.userId }, new { target = "_blank" })</li>
                        }
                    </ol>
                </td>
            </tr>

            <tr>
                <td>
                    IT
                </td>
                <td>
                    @if (member.ITs.Count > 0)
                    {
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Username
                                    </th>
                                </tr>
                            </thead>
                            @foreach (var x in member.ITs)
                            {
                                <tr>
                                    <td>@Html.ActionLink(@x.firstName, "Edit", "UsersAdmin", new { id = @x.userId }, new { target = "_blank" })</td>
                                </tr>
                            }
                        </table>
                    }
                </td>
            </tr>

            <tr>
                <td>
                    PMO
                </td>
                <td>
                    @if (member.PMOs.Count > 0)
                    {
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Username
                                    </th>
                                </tr>
                            </thead>
                            @foreach (var x in member.PMOs)
                            {
                                <tr>
                                    <td>@Html.ActionLink(@x.firstName, "Edit", "UsersAdmin", new { id = @x.userId }, new { target = "_blank" })</td>
                                </tr>
                            }
                        </table>
                    }
                </td>
            </tr>

            <tr>
                <td>
                    HSE
                </td>
                <td>
                    @if (member.HSEs.Count > 0)
                    {
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Username
                                    </th>
                                </tr>
                            </thead>
                            @foreach (var x in member.HSEs)
                            {
                                <tr>
                                    <td>@Html.ActionLink(@x.firstName, "Edit", "UsersAdmin", new { id = @x.userId }, new { target = "_blank" })</td>
                                </tr>
                            }
                        </table>
                    }
                </td>
            </tr>

            <tr>
                <td>
                    HOD
                </td>
                <td>
                    <ol>
                        @foreach (var x in member.HODs)
                        {
                            <li>@Html.ActionLink(@x.firstName, "Edit", "UsersAdmin", new { id = @x.userId }, new { target = "_blank" })</li>
                        }
                    </ol>
                </td>
             </tr>

            <tr>
                <td>
                    Requestors
                </td>
                <td>
                    @Html.ActionLink("Add New User", "Create", "UsersAdmin",null, new { target = "_blank" })

                    @if (member.Requestors.Count > 0)
                    {
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Username
                                    </th>
                                    <th>
                                        HOD
                                    </th>
                                </tr>
                            </thead>
                            @foreach (var x in member.Requestors)
                            {
                                <tr>
                                    <td>@Html.ActionLink(@x.firstName, "Edit", "UsersAdmin", new { id = @x.userId }, new { target = "_blank" })</td>
                                    <td>&nbsp;</td>
                                </tr>
                            }
                        </table>
                    }
                </td>
            </tr>
        </tbody>

    </table>
}