@model IEnumerable<KUBOnlinePRPM.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Listing</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="userListTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.userName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employeeNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.jobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastLoginDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.superiorId)
            </th>
            <th>
                Role
            </th>
        </tr>
    <thead>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.userName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.emailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.firstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.employeeNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.jobTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.lastLoginDate)
                </td>
                <td>
                    <h5>@item.Customer.name ( @item.Customer.abbreviation )</h5>
                    <ol>

                        @foreach (var x in item.Users_Roles)
                        {
                            <li>@x.Role.name</li>
                        }
                    </ol>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.userId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.userId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.userId })
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            var UserListTable = $('#userListTable').DataTable({
                serverSide: false,
                //dom: 'frtiS',
                processing: true,
                paging: true,
                deferRender: true,
                ordering: true,
                bAutoWidth: false,
                //columnDefs: [
                //    { visible: false, targets: [0] }
                //],
                destroy: true,
                aaSorting: [0, "asc"],
                responsive: {
                    breakpoints: [
                        { name: 'desktop', width: 1024 },
                        { name: 'tablet', width: 768 },
                        { name: 'phone', width: 480 }
                    ]
                }
            });
        });
    </script>
}

