@{ Layout = "~/Views/Shared/_LoginLayout.cshtml"; }
@model KUBOnlinePRPM.Models.LoginModel

@*<div id="parent" class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">*@
@*<form id="Login" class="col-md-3 col-sm-5 g-bg-white g-brd-1 g-brd-style-solid rounded g-px-30 g-py-40">*@
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @id = "Login", @class = "col-md-3 col-sm-5 g-bg-white g-brd-1 g-brd-style-solid rounded g-px-30 g-py-40" }))
{
    <div class="text-center">
        <img class="g-pb-20" src="~/Images/logo/Logo KUB Malaysia Bhd.png" />
        <h2 class="h1 g-font-weight-600">KUB Group</h2>
        <h2 class="h3 g-font-weight-300 g-mb-35">Business Application Portal</h2>
    </div>
    @*<input class="form-control rounded g-px-20 g-py-12 mb-3" placeholder="Username" type="text">*@
    @Html.TextBoxFor(m => m.Username, new { @id = "Username", @class = "form-control rounded g-px-20 g-py-12 mb-3", @autocomplete = "off", @placeholder = "Username", @type = "text" })

    @*<input class="form-control rounded g-px-20 g-py-12 mb-3" placeholder="Password" type="text">*@
    @Html.TextBoxFor(m => m.Password, new { @id = "Password", @class = "form-control rounded g-px-20 g-py-12 mb-3", @autocomplete = "off", @placeholder = "Password", @type = "password" })
    <div class="d-flex text-center">
        @Html.ValidationMessageFor(m => m.Username, null, new { @class = "g-color-red" })
        @Html.ValidationMessageFor(m => m.Password, null, new { @class = "g-color-red" })
    </div>
    <div class="g-mb-0">
        <button id="SubmitLogin" class="btn btn-block u-btn-blue g-font-weight-600 g-font-size-18 text-uppercase g-px-25 g-py-13" type="button">LOGIN</button>
    </div>
    <div class="modal">
    </div>
}
@*</form>*@
@*</div>*@


@section scripts {
    <script type="text/javascript">
        var UrlIndex = "@Url.Action("Index", "Home")";
    </script>
    <script src="~/Scripts/Login.js"></script>
}