<!DOCTYPE html>
<html>
<head>
    <title>KUB Online PR and PM v.1</title>
    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">
    <!-- CSS Global Compulsory -->
    @*<link rel="stylesheet" href="~/Assets/vendor/bootstrap/bootstrap.min.css">*@
    <!-- CSS Global Icons -->
    <link rel="stylesheet" href="~/Assets/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Assets/icon-line/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/Assets/icon-etlinefont/style.css">
    <link rel="stylesheet" href="~/Assets/icon-line-pro/style.css">
    <link rel="stylesheet" href="~/Assets/icon-hs/style.css">
    <link rel="stylesheet" href="~/Assets/hs-admin-icons/hs-admin-icons.css">
    @*<link rel="stylesheet" href="~/Assets/vendor/animate.css">
        <link rel="stylesheet" href="~/Assets/vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css">
        <link rel="stylesheet" href="~/Assets/vendor/flatpickr/dist/css/flatpickr.min.css">

        <link rel="stylesheet" href="~/Assets/vendor/chartist-js/chartist.min.css">
        <link rel="stylesheet" href="~/Assets/vendor/chartist-js-tooltip/chartist-plugin-tooltip.css">
        <link rel="stylesheet" href="~/Assets/vendor/fancybox/jquery.fancybox.min.css">
        <link rel="stylesheet" href="~/Assets/vendor/hamburgers/hamburgers.min.css">
        <!-- CSS Unify -->
        <link rel="stylesheet" href="~/Assets/css/unify-admin.css">
        <!-- CSS Customization -->
        <link rel="stylesheet" href="~/Assets/css/custom.css">
        <link rel="stylesheet" href="~/Assets/vendor/bootstrap-select/css/bootstrap-select.min.css">*@
    @Styles.Render("~/Content/css")
</head>
<body>
    <!-- Header -->
    <header id="js-header" class="u-header u-header--sticky-top">
        <div class="u-header__section u-header__section--admin-dark g-min-height-65">
            <nav class="navbar no-gutters g-pa-0">
                <div class="col-auto d-flex flex-nowrap u-header-logo-toggler g-py-12">
                    <!-- Logo -->
                    <a href="~/PR" class="navbar-brand d-flex align-self-center g-hidden-xs-down g-line-height-1 py-0 g-mt-5">
                        <img class="u-header-logo" src="~/Images/logo/Logo KUB Malaysia Bhd.png" />
                    </a>
                    <!-- End Logo -->
                    <!-- Sidebar Toggler -->
                    <a class="js-side-nav u-header__nav-toggler d-flex align-self-center ml-auto" href="#!" data-hssm-class="u-side-nav--mini u-sidebar-navigation-v1--mini" data-hssm-body-class="u-side-nav-mini" data-hssm-is-close-all-except-this="true" data-hssm-target="#sideNav">
                        <i class="hs-admin-align-left"></i>
                    </a>
                    <!-- End Sidebar Toggler -->
                </div>
                <!-- Top Search Bar -->
                @*<form id="searchMenu" class="u-header--search col-sm g-py-12 g-ml-15--sm g-ml-20--md g-mr-10--sm" aria-labelledby="searchInvoker" action="#!">
                        <div class="input-group g-max-width-450">
                            <input class="form-control form-control-md g-rounded-4" type="text" placeholder="Enter search keywords">
                            <button type="submit" class="btn u-btn-outline-primary g-brd-none g-bg-transparent--hover g-pos-abs g-top-0 g-right-0 d-flex g-width-40 h-100 align-items-center justify-content-center g-font-size-18 g-z-index-2">
                                <i class="hs-admin-search"></i>
                            </button>
                        </div>
                    </form>*@
                <!-- End Top Search Bar -->
                <!-- Messages/Notifications/Top Search Bar/Top User -->
                <div class="col-auto d-flex g-py-12 g-pl-40--lg ml-auto">
                    <!-- Top Messages -->
                    @*<div class="g-pos-rel g-hidden-sm-down g-mr-5">
                            <a id="messagesInvoker" class="d-block text-uppercase u-header-icon-v1 g-pos-rel g-width-40 g-height-40 rounded-circle g-font-size-20" href="#!" aria-controls="messagesMenu" aria-haspopup="true" aria-expanded="false" data-dropdown-event="click" data-dropdown-target="#messagesMenu"
                               data-dropdown-type="css-animation" data-dropdown-duration="300" data-dropdown-animation-in="fadeIn" data-dropdown-animation-out="fadeOut">
                                <span class="u-badge-v1 g-top-7 g-right-7 g-width-18 g-height-18 g-bg-primary g-font-size-10 g-color-white rounded-circle p-0">7</span>
                                <i class="hs-admin-comment-alt g-absolute-centered"></i>
                            </a>
                            <!-- Top Messages List -->
                            <div id="messagesMenu" class="g-absolute-centered--x g-width-340 g-max-width-400 g-mt-17 rounded" aria-labelledby="messagesInvoker">
                                <div class="media u-header-dropdown-bordered-v1 g-pa-20">
                                    <h4 class="d-flex align-self-center text-uppercase g-font-size-default g-letter-spacing-0_5 g-mr-20 g-mb-0">3 new messages</h4>
                                    <div class="media-body align-self-center text-right">
                                        <a class="g-color-secondary" href="#!">View All</a>
                                    </div>
                                </div>
                                <ul class="p-0 mb-0">
                                    <!-- Top Messages List Item -->
                                    <li class="media g-pos-rel u-header-dropdown-item-v1 g-pa-20">
                                        <div class="d-flex g-mr-15">
                                            <img class="g-width-40 g-height-40 rounded-circle" src="~/Assets/img-temp/100x100/img5.jpg" alt="Image Description">
                                        </div>
                                        <div class="media-body">
                                            <p class="g-mb-10">Verna Swanson write a new task</p>
                                            <em class="d-flex align-self-center align-items-center g-font-style-normal">
                                                <i class="hs-admin-time icon-clock g-mr-5"></i> <small>5 Min ago</small>
                                            </em>
                                        </div>
                                        <a class="u-link-v2" href="#!">Read</a>
                                    </li>
                                    <!-- End Top Messages List Item -->
                                    <!-- Top Messages List Item -->
                                    <li class="media g-pos-rel u-header-dropdown-item-v1 g-pa-20">
                                        <div class="d-flex g-mr-15">
                                            <img class="g-width-40 g-height-40 rounded-circle" src="~/Assets/img-temp/100x100/img6.jpg" alt="Image Description">
                                        </div>
                                        <div class="media-body">
                                            <p class="g-mb-10">Eddie Hayes has upload 123.txt in project 123 details</p>
                                            <em class="d-flex align-self-center align-items-center g-font-style-normal">
                                                <i class="hs-admin-time icon-clock g-mr-5"></i> <small>22 Min ago</small>
                                            </em>
                                        </div>
                                        <a class="u-link-v2" href="#!">Read</a>
                                    </li>
                                    <!-- End Top Messages List Item -->
                                    <!-- Top Messages List Item -->
                                    <li class="media g-pos-rel u-header-dropdown-item-v1 g-pa-20">
                                        <div class="d-flex g-mr-15">
                                            <img class="g-width-40 g-height-40 rounded-circle" src="~/Assets/img-temp/100x100/img7.jpg" alt="Image Description">
                                        </div>
                                        <div class="media-body">
                                            <p class="g-mb-10">Herbert Castro commented on a post in project 123</p>
                                            <em class="d-flex align-self-center align-items-center g-font-style-normal">
                                                <i class="hs-admin-time icon-clock g-mr-5"></i> <small>15 Min ago</small>
                                            </em>
                                        </div>
                                        <a class="u-link-v2" href="#!">Read</a>
                                    </li>
                                    <!-- End Top Messages List Item -->
                                </ul>
                            </div>
                            <!-- End Top Messages List -->
                        </div>*@
                    <!-- End Top Messages -->
                    <!-- Top Search Bar (Mobi) -->
                    @*<a id="searchInvoker" class="g-hidden-sm-up text-uppercase u-header-icon-v1 g-pos-rel g-width-40 g-height-40 rounded-circle g-font-size-20" href="#!" aria-controls="searchMenu" aria-haspopup="true" aria-expanded="false" data-is-mobile-only="true" data-dropdown-event="click"
                           data-dropdown-target="#searchMenu" data-dropdown-type="css-animation" data-dropdown-duration="300" data-dropdown-animation-in="fadeIn" data-dropdown-animation-out="fadeOut">
                            <i class="hs-admin-search g-absolute-centered"></i>
                        </a>*@
                    <!-- End Top Search Bar (Mobi) -->
                    <!-- Top User -->
                    <div class="col-auto d-flex g-pt-5 g-pt-0--sm g-pl-10 g-pl-20--sm">
                        <div class="g-pos-rel g-px-10--lg">
                            <a id="profileMenuInvoker" class="d-block" href="#!" aria-controls="profileMenu" aria-haspopup="true" aria-expanded="false" data-dropdown-event="click" data-dropdown-target="#profileMenu" data-dropdown-type="css-animation" data-dropdown-duration="300"
                               data-dropdown-animation-in="fadeIn" data-dropdown-animation-out="fadeOut">
                                @*<span class="g-pos-rel">
                                        <span class="u-badge-v2--xs u-badge--top-right g-hidden-sm-up g-bg-lightblue-v5 g-mr-5"></span>
                                        <img class="g-width-30 g-width-40--md g-height-30 g-height-40--md rounded-circle g-mr-10--sm" src="~/Assets/img-temp/130x130/img1.jpg" alt="Image description">
                                    </span>*@
                                <span class="g-pos-rel g-top-2">
                                    <span class="g-hidden-sm-down g-font-size-20 g-color-black">@Session["FullName"].ToString()</span>
                                    <i class="hs-admin-angle-down g-color-black g-pos-rel g-top-2 g-ml-10"></i>
                                </span>
                            </a>
                            <!-- Top User Menu -->
                            <ul id="profileMenu" class="g-pos-abs g-left-0 g-width-100x--lg g-nowrap g-font-size-14 g-py-20 g-mt-17 rounded" aria-labelledby="profileMenuInvoker">
                                <li class="g-hidden-sm-up g-mb-10">
                                    <a class="media g-py-5 g-px-20" href="#!">
                                        <span class="d-flex align-self-center g-pos-rel g-mr-12">
                                            <span class="u-badge-v1 g-top-minus-3 g-right-minus-3 g-width-18 g-height-18 g-bg-lightblue-v5 g-font-size-10 g-color-white rounded-circle p-0">10</span>
                                            <i class="hs-admin-comment-alt"></i>
                                        </span>
                                        <span class="media-body align-self-center">Unread Messages</span>
                                    </a>
                                </li>
                                @*<li class="g-mb-10">
                                        <a class="media g-color-lightred-v2--hover g-py-5 g-px-20" href="#!">
                                            <span class="d-flex align-self-center g-mr-12">
                                                <i class="hs-admin-user"></i>
                                            </span>
                                            <span class="media-body align-self-center text-white">My Profile</span>
                                        </a>
                                    </li>*@
                                <li class="mb-0">
                                    <a class="media g-color-lightred-v2--hover g-py-5 g-px-20" href="@Url.Action("MyProfile", "User")">
                                        <span class="d-flex align-self-center g-mr-12">
                                            <i class="hs-admin-shift-right"></i>
                                        </span>
                                        <span class="media-body align-self-center text-white">My Profile</span>
                                    </a>
                                </li>
                                <li class="mb-0">
                                    <a class="media g-color-lightred-v2--hover g-py-5 g-px-20" href="@Url.Action("SignOut", "Home")">
                                        <span class="d-flex align-self-center g-mr-12">
                                            <i class="hs-admin-shift-right"></i>
                                        </span>
                                        <span class="media-body align-self-center text-white">Sign Out</span>
                                    </a>
                                </li>
                            </ul>
                            <!-- End Top User Menu -->
                        </div>
                    </div>
                    <!-- End Top User -->
                </div>
                <!-- End Messages/Notifications/Top Search Bar/Top User -->
            </nav>
        </div>
    </header>
    <!-- End Header -->
    <main class="container-fluid px-0 g-pt-65 g-mb-40" width="100%">
        <div class="row no-gutters g-pos-rel g-overflow-x-hidden">
            <!-- Sidebar Nav -->
            <div id="sideNav" class="col-auto u-sidebar-navigation-v1 u-sidebar-navigation--light">
                <ul id="sideNavMenu" class="u-sidebar-navigation-v1-menu u-side-nav--top-level-menu g-min-height-100vh mb-0">
                    <!-- Home -->
                    <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item">
                        <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" href="~/PR">
                            <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
                                <i class="hs-admin-home"></i>
                            </span>
                            <span class="media-body align-self-center text-white">HOME</span>
                        </a>
                    </li>
                    <!-- End Home -->
                    <!--Project Monitoring-->
                    @*<li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item">
                            <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" href="#!" data-hssm-target="#subMenuProject">
                                <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
                                    <i class="hs-admin-wallet"></i>
                                </span>
                                <span class="media-body align-self-center">PROJECT</span>
                                <span class="d-flex align-self-center u-side-nav--control-icon">
                                    <i class="hs-admin-angle-right"></i>
                                </span>
                                <span class="u-side-nav--has-sub-menu__indicator"></span>
                            </a>
                            <!-- AddNew: Submenu-2 -->
                            <ul id="subMenuProject" class="u-sidebar-navigation-v1-menu u-side-nav--second-level-menu mb-0">
                                <!-- Dashboards v1 -->
                                <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                    <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="~/PM/NewPM">
                                        <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                            <i class="hs-admin-infinite"></i>
                                        </span>
                                        <span class="media-body align-self-center">Create New</span>
                                    </a>
                                </li>
                                <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                    <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="~/PM">
                                        <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                            <i class="hs-admin-briefcase"></i>
                                        </span>
                                        <span class="media-body align-self-center">All Projects</span>
                                    </a>
                                </li>
                                <!-- End AddNew v1 -->
                            </ul>
                            <!-- End AddNew: Submenu-2 -->
                        </li>*@
                    <!--End Project Monitoring-->
                    <!--Purchase Requisition-->
                    <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item">
                        <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" href="#!" data-hssm-target="#subMenuPR">
                            <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-20">
                                <i class="et-icon-document"></i>
                            </span>
                            <span class="media-body align-self-center text-white">PURCHASE REQUISITION</span>
                            <span class="d-flex align-self-center u-side-nav--control-icon">
                                <i class="hs-admin-angle-right"></i>
                            </span>
                            <span class="u-side-nav--has-sub-menu__indicator"></span>
                        </a>
                        <!-- AddNew: Submenu-2 -->
                        <ul id="subMenuPR" class="u-sidebar-navigation-v1-menu u-side-nav--second-level-menu mb-0">
                            <!-- Dashboards v1 -->
                            @if (Session["ifRequestor"] != null)
                            {
                                <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                    <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="~/PR/NewPR?type=Generic">
                                        <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                            <i class="hs-admin-infinite"></i>
                                        </span>
                                        <span class="media-body align-self-center text-white">New PR</span>
                                    </a>
                                </li>
                            }
                            <!-- End AddNew v1 -->
                            <!-- AddNew v2 -->
                            <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="~/PR/PRList?type=Generic">
                                    <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                        <i class="icon-list"></i>
                                    </span>
                                    <span class="media-body align-self-center text-white">PR Listing</span>
                                </a>
                            </li>
                            <!-- End AddNew v2 -->
                        </ul>
                        <!-- End AddNew: Submenu-2 -->
                    </li>
                    <!--End Purchase Requisition-->
                    <!--Blanket Purchase Requisition-->
                    <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item">
                        <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" href="#!" data-hssm-target="#subMenuBPR">
                            <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
                                <i class="et-icon-documents"></i>
                            </span>
                            <span class="media-body align-self-center text-white">BLANKET PURCHASE<br /> REQUISITION</span>
                            <span class="d-flex align-self-center u-side-nav--control-icon">
                                <i class="hs-admin-angle-right"></i>
                            </span>
                            <span class="u-side-nav--has-sub-menu__indicator"></span>
                        </a>
                        <!-- AddNew: Submenu-2 -->
                        <ul id="subMenuBPR" class="u-sidebar-navigation-v1-menu u-side-nav--second-level-menu mb-0">
                            <!-- Dashboards v1 -->
                            @if (Session["ifRequestor"] != null)
                            {
                                <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                    <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="~/PR/NewPR?type=Blanket">
                                        <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                            <i class="hs-admin-infinite"></i>
                                        </span>
                                        <span class="media-body align-self-center text-white">NEW</span>
                                    </a>
                                </li>
                            }
                            <!-- End AddNew v1 -->
                            <!-- AddNew v2 -->
                            <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="~/PR/PRList?type=Blanket">
                                    <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                        <i class="icon-list"></i>
                                    </span>
                                    <span class="media-body align-self-center text-white">LISTING</span>
                                </a>
                            </li>
                            <!-- End AddNew v2 -->
                        </ul>
                        <!-- End AddNew: Submenu-2 -->
                    </li>
                    <!--End Blanket Purchase Requisition-->
                    <!--Purchase Order  -->
                    <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item">
                        <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" href="#!" data-hssm-target="#subMenuPO">
                            <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
                                <i class="et-icon-book-open"></i>
                            </span>
                            <span class="media-body align-self-center text-white">PURCHASE ORDER</span>
                            <span class="d-flex align-self-center u-side-nav--control-icon">
                                <i class="hs-admin-angle-right"></i>
                            </span>
                            <span class="u-side-nav--has-sub-menu__indicator"></span>
                        </a>
                        <!-- Directory: Submenu-3 -->
                        <ul id="subMenuPO" class="u-sidebar-navigation-v1-menu u-side-nav--second-level-menu mb-0">
                            <!-- Directory v2 -->
                            <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="~/PO/POList?Type=All">
                                    <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                        <i class="icon-list"></i>
                                    </span>
                                    <span class="media-body align-self-center text-white">PO Listing</span>
                                </a>
                            </li>
                        </ul>
                        <!-- End Directory: Submenu-3 -->
                    </li>
                    <!-- End Purchase Order  -->
                    @*<li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item">
                            <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" href="~/Notification">
                                <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
                                    <i class="hs-admin-agenda"></i>
                                </span>
                                <span class="media-body align-self-center text-white">MY TASK</span>
                            </a>
                        </li>*@
                    <!--Purchase Order  -->
                    @if (Session["ifProcurement"] != null || Session["ifSuperAdmin"] != null)
                    {
                        <li class="u-sidebar-navigation-v1-menu-item u-side-nav--has-sub-menu u-side-nav--top-level-menu-item">
                            <a class="media u-side-nav--top-level-menu-link u-side-nav--hide-on-hidden g-px-15 g-py-12" href="#!" data-hssm-target="#subMenuAdminUser">
                                <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">
                                    <i class="et-icon-book-open"></i>
                                </span>
                                <span class="media-body align-self-center text-white">ADMIN</span>
                                <span class="d-flex align-self-center u-side-nav--control-icon">
                                    <i class="hs-admin-angle-right"></i>
                                </span>
                                <span class="u-side-nav--has-sub-menu__indicator"></span>
                            </a>
                            <!-- Directory: Submenu-3 -->
                            <ul id="subMenuAdminUser" class="u-sidebar-navigation-v1-menu u-side-nav--second-level-menu mb-0">
                                <!-- Directory v2 -->
                                <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                    <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="~/UsersAdmin/">
                                        <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                            <i class="icon-list"></i>
                                        </span>
                                        <span class="media-body align-self-center text-white">Users Listing</span>
                                    </a>
                                </li>
                                <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                    <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="~/UsersAdmin/Heirarchy">
                                        <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                            <i class="icon-list"></i>
                                        </span>
                                        <span class="media-body align-self-center text-white">Users Heirarchy</span>
                                    </a>
                                </li>

                                <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                    <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="~/Admin/">
                                        <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                            <i class="icon-list"></i>
                                        </span>
                                        <span class="media-body align-self-center text-white">Navision Excel Builder</span>
                                    </a>
                                </li>
                                <li class="u-sidebar-navigation-v1-menu-item u-side-nav--second-level-menu-item">
                                    <a class="media u-side-nav--second-level-menu-link g-px-15 g-py-12" href="~/Notification/AuditTrail">
                                        <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">
                                            <i class="icon-list"></i>
                                        </span>
                                        <span class="media-body align-self-center text-white">Audit Trail</span>
                                    </a>
                                </li>
                            </ul>
                            <!-- End Directory: Submenu-3 -->
                        </li>
                    }
                    <!-- End Purchase Order  -->
                </ul>
            </div>
            <!-- End Sidebar Nav -->
            <!--body-->
            @*<div class="col g-ml-45 g-ml-0--lg g-pb-0--md g-pa-20 g-bg-img-hero" style="background-image: url(../Images/svg/svg-bg3.svg);">*@
            @*<div class="col g-ml-45 g-ml-0--lg g-pb-0--md g-pa-20 g-bg-img-hero" style="background-image: url(@Url.Content("~/Images/svg/svg-bg3.svg"));">*@
            <div id="ContentWrapper" class="col g-ml-45 g-ml-0--lg g-pb-0--md g-pa-20--md g-bg-default">
                @RenderBody()

            </div>
            <!--end body-->

        </div>
        <footer id="footer" class="u-footer--bottom-fixed g-bg-default g-color-gray-dark-v6 g-brd-top g-brd-gray-light-v7 g-pa-5">
            <div class="row align-items-center">
                <!-- Footer Nav -->
                @*<div class="col-md-4 g-mb-10 g-mb-0--md">
                        <ul class="list-inline text-center text-md-left mb-0">
                            <li class="list-inline-item">
                                <a class="g-color-gray-dark-v6 g-color-lightblue-v3--hover" href="#!">FAQ</a>
                            </li>
                            <li class="list-inline-item">
                                <span class="g-color-gray-dark-v6">|</span>
                            </li>
                            <li class="list-inline-item">
                                <a class="g-color-gray-dark-v6 g-color-lightblue-v3--hover" href="#!">Support</a>
                            </li>
                            <li class="list-inline-item">
                                <span class="g-color-gray-dark-v6">|</span>
                            </li>
                            <li class="list-inline-item">
                                <a class="g-color-gray-dark-v6 g-color-lightblue-v3--hover" href="#!">Contact Us</a>
                            </li>
                        </ul>
                    </div>*@
                <!-- End Footer Nav -->
                <!-- Footer Socials -->
                @*<div class="col-md-4 g-mb-10 g-mb-0--md">
                        <ul class="list-inline g-font-size-16 text-center mb-0">
                            <li class="list-inline-item g-mx-10">
                                <a href="#!" class="g-color-facebook g-color-lightblue-v3--hover">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-10">
                                <a href="#!" class="g-color-google-plus g-color-lightblue-v3--hover">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-10">
                                <a href="#!" class="g-color-black g-color-lightblue-v3--hover">
                                    <i class="fa fa-github"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-10">
                                <a href="#!" class="g-color-twitter g-color-lightblue-v3--hover">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>*@
                <!-- End Footer Socials -->
                <!-- Footer Copyrights -->
                <div class="col-md-12 text-center text-md-right">
                    <small class="d-block g-font-size-default">© 2018 KUB Malaysia Bhd. All Rights Reserved.</small>
                </div>
                <!-- End Footer Copyrights -->
            </div>
        </footer>
    </main>


    @Scripts.Render("~/bundles/jsglobal")
    @Scripts.Render("~/bundles/jqueryUI")
    @Scripts.Render("~/bundles/jsplugininit")
    @Scripts.Render("~/bundles/jsunify")
    @RenderSection("scripts", required: false)
    <!-- JS Custom -->
    <script src="~/Assets/custom.js"></script>
    <!-- JS Plugins Init. -->
    <script>
        var UrlPR = "@Url.Action("Index", "PR")";
        var UrlPM = "@Url.Action("Index", "PM")";
        var UrlPO = "@Url.Action("Index", "PO")";
        var UrlPRCard = "@Url.Action("PRList", "PR")";
        var UrlProjectDetail = "@Url.Action("ProjectDetail", "PM")";

        $(window).on('load', function () {
            $('.masonry-grid').imagesLoaded().then(function () {
                $('.masonry-grid').masonry({
                    columnWidth: '.masonry-grid-sizer',
                    itemSelector: '.masonry-grid-item',
                    percentPosition: true
                });
            });
        });

        $(document).on('ready', function () {
            // initialization of hamburger
            $.HSCore.helpers.HSHamburgers.init('.hamburger');
            $.HSCore.helpers.HSFileAttachments.init();
            $.HSCore.components.HSFileAttachment.init('.js-file-attachment');
            $.HSCore.helpers.HSFocusState.init();
            $.HSCore.components.HSModalWindow.init('[data-modal-target]');

            // initialization of custom select
            //$('.js-select').selectpicker();
            //$.HSCore.components.HSSelect.init('.js-custom-select');

            // initialization of charts
            //$.HSCore.components.HSAreaChart.init('.js-area-chart');
            //$.HSCore.components.HSPieChart.init('.js-pie-chart');
            //$.HSCore.components.HSDonutChart.init('.js-donut-chart');
            //$.HSCore.components.HSBarChart.init('.js-bar-chart');

            // initialization of HSDropdown component
            $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'), {
                dropdownHideOnScroll: false,
                dropdownType: 'css-animation',
                dropdownAnimationIn: 'fadeIn',
                dropdownAnimationOut: 'fadeOut'
            });

            // initialization of sidebar navigation component
            $.HSCore.components.HSSideNav.init('.js-side-nav', {
                afterOpen: function () {
                    setTimeout(function () {
                        $.HSCore.components.HSAreaChart.init('.js-area-chart');
                        $.HSCore.components.HSDonutChart.init('.js-donut-chart');
                        $.HSCore.components.HSBarChart.init('.js-bar-chart');
                    }, 400);
                },
                afterClose: function () {
                    setTimeout(function () {
                        $.HSCore.components.HSAreaChart.init('.js-area-chart');
                        $.HSCore.components.HSDonutChart.init('.js-donut-chart');
                        $.HSCore.components.HSBarChart.init('.js-bar-chart');
                    }, 400);
                }
            });

            // initialization of range datepicker
            //$.HSCore.components.HSRangeDatepicker.init('#rangeDatepicker, #rangeDatepicker2, #rangeDatepicker3');

            // initialization of datepicker
            //$.HSCore.components.HSDatepicker.init('#datepicker', {
            //    dayNamesMin: [
            //        'SU',
            //        'MO',
            //        'TU',
            //        'WE',
            //        'TH',
            //        'FR',
            //        'SA'
            //    ]
            //});

            // initialization of custom scrollbar
            $.HSCore.components.HSScrollBar.init($('.js-custom-scroll'));
            $.HSCore.components.HSScrollBar.init($('.js-scrollbar'));

            // initialization of popups
            $.HSCore.components.HSPopup.init('.js-fancybox', {
                btnTpl: {
                    smallBtn: '<button data-fancybox-close class="btn g-pos-abs g-top-25 g-right-30 g-line-height-1 g-bg-transparent g-font-size-16 g-color-gray-light-v3 g-brd-none p-0" title=""><i class="hs-admin-close"></i></button>'
                }
            });

            //$.HSCore.components.HSDatatables.init('.js-datatable');

            $.HSCore.components.HSTabs.init('[role="tablist"]');
        });

        $(window).on('resize', function () {
            setTimeout(function () {
                $.HSCore.components.HSTabs.init('[role="tablist"]');
            }, 200);
        });
    </script>
</body>
</html>