<html>
<head>
    <title>A new PO to be created - @Model.PONo</title>
</head>
<body>
    PO No: @Model.PONo
    <br />
    PO Date: @Model.PODate
    <br />
    Requestor: @Model.Requestor
    <br />
    Vendor company: @Model.VendorCompany
    <br />
    Amount required: @Model.AmountRequired
    <br /><br />
    Please click <a href="@Model.BackLink">here</a> for more details.
    <br /><br /><br />
    <br /><br /><br />
    <b>Disclaimer</b>
    <br /><br />
    <p>
        The content of this email is confidential and intended for the recipient specified in the message only. It is strictly forbidden to share any part of this message with any third party, without a written consent of the sender. If you received this message by mistake, please reply to this message and follow with its deletion, so that we can ensure such a mistake does not occur in the future.
    </p>
    <br />
</body>
</html>
