@*<div class="g-pa-20">*@
<!-- Metrics 8 -->
<div class="row container-fluid g-mb-20">
    <div class="media-body align-self-center text-left">
        <h3 class="g-font-weight-600 g-font-size-30 g-color-black">Summary</h3>
    </div>
    @if (Session["ifRequestor"] != null)
    {
        <div class="media-body align-self-center text-right">
            <a class="btn btn-xl u-btn-lightblue-v3 g-font-size-default g-ml-10" href="~/PR/NewPR?type=Generic">
                NEW +
            </a>
        </div>
    }
    </div>
<div class="row">
    <div class="col-sm-4 col-lg-4 col-xl-4 g-mb-30">
        <!-- Panel -->
        <div class="card h-100 g-brd-gray-light-v7 rounded">
            <div class="card-block g-font-weight-300 g-pa-20">
                <div class="media-body align-self-center">
                    <h4 class="g-font-size-24 g-font-weight-600 g-color-gray-dark-v6 mb-0">Purchase Requisition</h4>
                </div>
                <div class="media align-self-center">
                    <canvas id="chart_pr" height="350"></canvas>
                </div>
            </div>
        </div>
        <!-- End Panel -->
    </div>

    <div class="col-sm-4 col-lg-4 col-xl-4 g-mb-30">
        <!-- Panel -->
        <div class="card h-100 g-brd-gray-light-v7 rounded">
            <div class="card-block g-font-weight-300 g-pa-20">
                <div class="media-body align-self-center">
                    <h4 class="g-font-size-24 g-font-weight-600 g-color-gray-dark-v6 mb-0">Purchase Order</h4>
                </div>
                <div class="media align-self-center">

                    <canvas id="chart_po" height="350"></canvas>

                </div>
            </div>
        </div>
        <!-- End Panel -->
    </div>

    <div class="col-sm-4 col-lg-4 col-xl-4 g-mb-30">
        <!-- Panel -->
        <div class="card h-100 g-brd-gray-light-v7 rounded">
            <div class="card-block g-font-weight-300 g-pa-20">
                <div class="media-body align-self-center">
                    <h4 class="g-font-size-24 g-font-weight-600 g-color-gray-dark-v6 mb-0">Open PO</h4>
                </div>
                <div class="media align-self-center">

                    <canvas id="chart_open_po" height="350"></canvas>

                </div>
            </div>
        </div>
        <!-- End Panel -->
    </div>
</div>
@*<div class="row">*@
<div class="container-fluid g-mb-20">
    @{ Html.RenderAction("Index", "Notification"); }
</div>
@*</div>*@
<!-- Metrics 8 -->
@*</div>*@

@section scripts {
    <script>
        var width;
        var height;
        var PRChart;
        var $window = $(window);
        var $pane = $('#pane1');
        var UrlPRList = "@Url.Action("PRList", "PR")";
        var UrlPOList = "@Url.Action("POList", "PO")";
        var UrlDashboardPurchaseRequisition = "@Url.Action("DashboardPurchaseRequisition", "PR")";
        var UrlDashboardPurchaseOrder = "@Url.Action("DashboardPurchaseOrder", "PR")";
        var UrlDashboardOpenPO = "@Url.Action("DashboardOpenPO", "PR")";
        var NotificationTable;
        var UrlPRTabs = "@Url.Action("ViewPRTabs", "PR")";
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script src="~/Scripts/PR.js"></script>
    <script src="~/Scripts/Notification.js"></script>
}