@model KUBOnlinePRPM.Models.PRModel

@*<div class="row container-fluid">
    <div class="media-body align-self-center text-right">
        <a href="~/PR/PRForm">
            <span class="u-icon-v1 g-color-blue">
                <i class="icon-printer"></i>
            </span>
        </a>
    </div>
</div>*@
@using (Html.BeginForm("PRFiles", "PR", FormMethod.Post, new { @id = "PRFiles", @class = "container-fluid g-mb-40" }))
{
    <div class="col-xs-12 g-mb-30 g-mt-40">
        <table id="PRFileTable" class="table table-striped table-bordered dt-responsive table-hover" style="width:100%">
            <thead>
                <tr>
                    <th class="d-none"></th>
                    <th class="all">
                        <div class="media">
                            <div class="d-flex align-self-center">File Name</div>
                        </div>
                    </th>
                    <th class="desktop">
                        <div class="media">
                            <div class="d-flex align-self-center">Extension</div>
                        </div>
                    </th>
                    <th class="desktop">
                        <div class="media">
                            <div class="d-flex align-self-center">Upload By</div>
                        </div>
                    </th>
                        <th class="desktop">
                            <div class="media">
                                <div class="d-flex align-self-center">Upload Date</div>
                            </div>
                        </th>
                    <th class="all">
                        <div class="media">
                            <div class="d-flex align-self-center">Action</div>
                        </div>
                    </th>                    
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                    foreach (var item in Model.PRDocListObject)
                    {
                        string filename = item.FileName.Replace("\\", ",");
                        string filename1 = filename.Split(',')[filename.Split(',').Length - 1].ToString();
                        <tr>
                            <td class="d-none">@Html.DisplayFor(modelItem => item.fileEntryId)</td>
                            <td>
                                @Html.DisplayFor(modelItem => filename1)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Extension)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.uploadUserName)
                            </td>                            
                            <td>
                                @Html.DisplayFor(modelItem => item.uploadDate)
                            </td>
                            <td>
                                @Html.ActionLink("Download", "Filedownload", new { @id = item.fileEntryId, @class="btn btn-md u-btn-blue g-mr-5" })
                                @*<a id="@item.fileEntryId" class="DownloadPR btn btn-md u-btn-blue g-mr-5">DOWNLOAD</a>*@
                            </td>
                        </tr>
                        i++;
                    }
                }
            </tbody>
        </table>
    </div>
                    }