@model KUBOnlinePRPM.Models.PRModel

<!-- Breadcrumb-v1 -->
<div class="g-hidden-sm-down g-bg-gray-light-v8 g-pa-20">
    <ul class="u-list-inline g-color-gray-dark-v6">
        <li class="list-inline-item g-mr-10">
            <a class="u-link-v5 g-color-gray-dark-v6 g-color-lightblue-v3--hover g-valign-middle" href="~/PR">Purchase Requisition</a>
            <i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>
        </li>
        <li class="list-inline-item">
            <span class="g-valign-middle">Purchase Requisition - Listings</span>
        </li>
    </ul>
</div>
<!-- End Breadcrumb-v1 -->
<div class="media-md align-items-center g-pa-20">
    <div class="d-flex g-mb-0--md g-pa-10">
        <h3 class="g-font-weight-300 g-font-size-20 g-color-black mb-0">Purchase Requisition List (@Model.Type)</h3>
    </div>
</div>
<div class="g-bg-white g-brd-1 g-brd-gray-light-v3 g-brd-style-solid rounded g-mb-40">
    <div class="container-fluid g-pa-20">
        <table id="PRListTable" class="table table-striped table-bordered dt-responsive table-hover" style="width:100%">
            <thead>
                <tr>
                    <th class="d-none"></th>
                    <th class="g-first-child all">
                        <div class="media">
                            <div class="d-flex align-self-center">PR No.</div>
                        </div>
                    </th>
                    <th class="desktop">
                        <div class="media">
                            <div class="d-flex align-self-center">PR Date</div>
                        </div>
                    </th>
                    <th class="desktop">
                        <div class="media">
                            <div class="d-flex align-self-center">Requestor Name</div>
                        </div>
                    </th>
                    <th class="tablet">
                    <div class="media">
                        <div class="d-flex align-self-center">Requestor Department</div>
                    </div>
                    </th>
                    <th class="desktop">
                        <div class="media">
                            <div class="d-flex align-self-center">Company Name</div>
                        </div>
                    </th>
                    <th class="desktop">
                        <div class="media">
                            <div class="d-flex align-self-center">Vendor Company</div>
                        </div>
                    </th>
                    <th class="desktop">
                        <div class="media">
                            <div class="d-flex align-self-center">Amount Required (RM)</div>
                        </div>
                    </th>
                    <th class="tablet">
                        <div class="media">
                            <div class="d-flex align-self-center">PR Aging</div>
                        </div>
                    </th>
                    <th class="all">
                        <div class="media">
                            <div class="d-flex align-self-center">Status</div>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.PRListObject)
                    {
                <tr>
                    <td class="d-none">@Html.DisplayFor(modelItem => item.PRId)</td>
                    <td class="all"><a class="PRDetailsButton btn btn-md u-btn-blue g-mr-5 g-mb-15">@Html.DisplayFor(modelItem => item.PRNo)</a></td>
                    <td class="desktop">@Html.DisplayFor(modelItem => item.PRDate)</td>
                    <td class="desktop">@Html.DisplayFor(modelItem => item.RequestorName)</td>
                    <td class="tablet">@Html.DisplayFor(modelItem => item.DeptName)</td>
                    <td class="desktop">@Html.DisplayFor(modelItem => item.CompanyName)</td>
                    <td class="desktop">@Html.DisplayFor(modelItem => item.VendorCompany)</td>
                    <td class="desktop">@Html.DisplayFor(modelItem => item.AmountRequired)</td>
                    <td class="tablet">@Html.DisplayFor(modelItem => item.PRAging)</td>
                    @if (item.Status == "Reject" || item.Status == "Cancel")
                    {
                        <td class="all">
                            <div class="d-inline-block">
                                <span class="d-flex align-items-center justify-content-center u-tags-v1 g-brd-around g-bg-white g-font-size-default g-color-gray-dark-v6 g-brd-white g-rounded-50 g-py-4 g-px-15">
                                    <span class="u-badge-v2--md g-pos-stc g-transform-origin--top-left g-bg-red g-mr-8"></span>
                                    @item.Status
                                </span>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td class="all">
                            <div class="d-inline-block">
                                <span class="d-flex align-items-center justify-content-center u-tags-v1 g-brd-around g-bg-white g-font-size-default g-color-gray-dark-v6 g-brd-white g-rounded-50 g-py-4 g-px-15">
                                    <span class="u-badge-v2--md g-pos-stc g-transform-origin--top-left g-bg-red g-mr-8"></span>
                                    @item.Status
                                </span>
                            </div>
                        </td>
                    }
                </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var UrlPRTabs = "@Url.Action("ViewPRTabs", "PR")";
        var PRListTable;
        var PRType = "@Model.Type";
        var touchtime = 0;
    </script>
    <script src="~/Scripts/PRList.js"></script>
}


