@model KUBOnlinePRPM.Models.PRModel

<!-- Breadcrumb-v1 -->
<div class="g-hidden-sm-down g-bg-gray-light-v8 g-pa-20 g-mb-30">
    <ul class="u-list-inline g-color-gray-dark-v6">
        <li class="list-inline-item g-mr-10">
            <a class="u-link-v5 g-color-gray-dark-v6 g-color-lightblue-v3--hover g-valign-middle" href="~/PR">Purchase Requisition</a>
            <i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>
        </li>
        <li class="list-inline-item g-mr-10">
            <a class="u-link-v5 g-color-gray-dark-v6 g-color-lightblue-v3--hover g-valign-middle" href="~/PR/PRList?type=@Model.Type">Listings</a>
            <i class="hs-admin-angle-right g-font-size-12 g-color-gray-light-v6 g-valign-middle g-ml-10"></i>
        </li>
        <li class="list-inline-item">
            <span class="g-valign-middle">@Model.NewPRForm.PRNo</span>
        </li>
    </ul>
</div>
<!-- End Breadcrumb-v1 -->
<ul class="nav u-nav-v4-1 u-nav-primary" role="tablist" data-target="nav-4-1-primary-hor-center" data-tabs-mobile-type="slide-up-down" data-btn-classes="btn btn-md btn-block u-btn-outline-primary">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#nav-4-1-primary-hor-center--PRDetails" role="tab">PR Details</a>
    </li>
    @Html.TextBoxFor(m => m.PRId, new { @id = "PRId", @class = "d-none", @type = "text" })
    @Html.TextBoxFor(m => m.Type, new { @id = "PRType", @class = "d-none", @type = "text" })

    @if (Model.Type == "Blanket")
    {
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#nav-4-1-primary-hor-center--BPRPOList" role="tab">PO List</a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#nav-4-1-primary-hor-center--Conversations" role="tab">Conversations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#nav-4-1-primary-hor-center--Files" role="tab">Attachment</a>
    </li>
</ul>
<div id="nav-4-1-primary-hor-center" class="tab-content g-pa-20--md g-mb-40 g-brd--black g-bg-white">
    <div class="tab-pane fade show active" id="nav-4-1-primary-hor-center--PRDetails" role="tabpanel">
        <div id="PRDetailsTab" class="container-fluid">
            @{ Html.RenderAction("PRDetails", "PR"); }
        </div>
    </div>
    @if (Model.Type == "Blanket")
    {
        <div class="tab-pane fade show" id="nav-4-1-primary-hor-center--BPRPOList" role="tabpanel">
            <div id="POListTab" class="container-fluid">
                @{ Html.RenderAction("POList", "PO", new { Type = Model.Type });
                }
            </div>
        </div>
    }
    <div class="tab-pane fade show" id="nav-4-1-primary-hor-center--Conversations" role="tabpanel">
        <div id="ConversationsTab" class="container-fluid">
            @{ Html.RenderAction("PRConversations", "PR"); }
        </div>
    </div>
    <div class="tab-pane fade show" id="nav-4-1-primary-hor-center--Files" role="tabpanel">
        <div id="AttachmentTab" class="container-fluid">
            @{ Html.RenderAction("PRFiles", "PR"); }
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var PRItemTable; var PRFileTable;
        var POType = "@Model.Type";
        var PRId = "@Model.PRId";
        var TestBudget = "@Model.TestBudget";
        var Phase1Completed = "@Model.NewPRForm.Phase1Completed";
        var UrlSaveSubmitDetails = "@Url.Action("PRDetails", "PR")";
        var UrlApproved = "@Url.Action("Approval", "PR")";
        var UrlRejected = "@Url.Action("Rejected", "PR")";
        var ifRequestor = "@Session["ifRequestor"]";
        var ifAdmin = "@Session["ifAdmin"]";
        var ifProcurement = "@Session["ifProcurement"]";
        var ifHOD = "@Session["ifHOD"]";
        var ifHOC = "@Session["ifHOC"]";
        var ifIT = "@Session["ifIT"]";
        var ifPMO = "@Session["ifPMO"]";
        var ifHSE = "@Session["ifHSE"]";
        var ifHOGPSS = "@Session["ifHOGPSS"]";
        var UrlGMDPaperInfo = "@Url.Action("GetGMDPaperInfo", "PR")";
        var UrlItemCodeInfo = "@Url.Action("GetItemCodeInfo", "PR")";
        var UrlGetProjectInfo = "@Url.Action("GetProjectInfo", "PR")";
        var UrlItemTypeInfo = "@Url.Action("GetItemTypeInfo", "PR")";
        var UrlGetJobNoInfo = "@Url.Action("GetJobNoInfo", "PR")";
        var UrlVendorIdInfo = "@Url.Action("GetVendorInfo", "PR")";
        var UrlVendorStaffIdInfo = "@Url.Action("GetVendorStaffInfo", "PR")";
        var touchtime = 0;
        var UrlPODetails = "@Url.Action("ViewPODetails", "PO")";
        var UrlDownloadFile = "@Url.Action("FileDownload", "PR")";
        var UrlSavePreparedProcurement = "@Url.Action("UpdatePRProcurement", "PR")";
        var UrlSubmitPreparedProcurement = "@Url.Action("SubmitPRProcurement", "PR")";
        var UrlApproveInitialPRReview = "@Url.Action("ApproveInitialPRReview", "PR")";
        var UrlRejectInitialPRReview = "@Url.Action("RejectInitialPRReview", "PR")";
        var UrlRejectPreparedReviewer = "@Url.Action("RejectPRReview", "PR")";
        var UrlReviewPreparedReviewer = "@Url.Action("ApprovePRReview", "PR")";
        var UrlRejectPreparedApprover = "@Url.Action("RejectPRApprover", "PR")";
        var UrlApprovePreparedApprover = "@Url.Action("ApprovePRApprover", "PR")";
        var UrlRejectPreparedRecommended = "@Url.Action("RejectPRRecommended", "PR")";
        var UrlRecommendedPreparedRecommended = "@Url.Action("RecommendedPRRecommended", "PR")";
        var UrlApprovePreparedJointRecommended = "@Url.Action("ApprovePRJointRecommended", "PR")";
        var UrlApprovePreparedJointRecommendedII = "@Url.Action("ApprovePRJointRecommendedII", "PR")";
        var UrlApprovePreparedJointRecommendedIII = "@Url.Action("ApprovePRJointRecommendedIII", "PR")";
        var UrlSendMessage = "@Url.Action("SendMessages", "PR")";
        var UrlPRTabs = "@Url.Action("PRTabs", "PR")";
        var UrlIssuePO = "@Url.Action("IssuePO", "PO")";
        var UrlEditPR = "@Url.Action("EditPR", "PR")";
        var UrlCancelPR = "@Url.Action("CancelPR", "PR")";
        var UrlRecommendCancel = "@Url.Action("RecommendCancel", "PR")";
        var UrlAcceptCancel = "@Url.Action("AcceptCancel", "PR")";
        var UrlFileUpload = "@Url.Action("FileUpload", "PR")";
        var UrlPRCard = "@Url.Action("PRList", "PR")";
        var UrlFileDelete = "@Url.Action("FileDelete", "PR")";
        var UrlGetUoM = "@Url.Action("GetUoM", "PR")";
        var UrlGetTaxCodeInfo = "@Url.Action("GetTaxCode", "PR")";
    </script>
    <script src="~/Scripts/NewPR.js"></script>
    <script src="~/Scripts/PRDetails.js"></script>
    <script src="~/Scripts/PRFile.js"></script>
    <script src="~/Scripts/PRConversations.js"></script>
    <script src="~/Scripts/POList.js"></script>
}